@import url(/CSS/reset.css);
@import url(/CSS/typography.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;400;600;700&display=swap');
/* font-family: 'Libre Baskerville',
serif;
 */
:root {
    --color-bgprimary: black;
    --color-bgsecondary: #0a0000e8;
    --color-text: #2F4F4F;
    --color-textred: red;
}

.header {
    background-color: var(--color-bgprimary);
    display: flex;
    flex-direction: column;
}
.header__figure {
    width: 4em;
    margin-top: 1em;
    margin-left: 1em;
}
.header__figure__logo {
    width: 100%;
}
.header__hr {
   margin: 1em;
}
.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__link {
    margin: 1em;
    color: var(--color-text);
    font-weight: 600; 
} 
.nav__link:hover {
    color: var(--color-bgsecondary);
}
.main__header {
    width: 100%;
    height: 50vh;
    background-image: url(/images/intro-bg.jpg);
    background-size: cover;
    background-position-x: center;
    position: relative;

}
.main__header__hero {
  padding: 25% 5% 0% 5%;
}
.header__hero__text {
    color: rgba(255, 255, 255, 0.281);
    font-size: 100%;
    padding-bottom: 0;
}
.header__title--hero {
    font-size: 250%;
    color: white;
    
}
.main__header__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5%;
    margin-right: 5%;
}
.header__arrow__icon {
    color: white;
}
.section {
    padding: 4em 2em;
}
.section--row {
    display: flex;
    flex-direction: column;
}
.section__about{
    background-image: url(/images/profile-bg.jpg);
    background-size: cover;
    z-index: 0;
    padding: 0;
    background-position-x: center;
}
.section__header--about{
    z-index: 1;
    background-color: white;
    opacity: 0.8;
    padding: 4em 2em;
    
}
.section__header>.header__text, .header__title {
    text-align: center;
}
.section__article--row { 
    display: flex;
}
.section__article__icon {
    margin-top: 0.5em;
}
.article__services {
    margin-left: 2em;
}
.article__services--node {
    margin-left: 1em;
}
.section__skills {
    background-image: url(/images/skills-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
.section__skills__text {
    background-color: black;
    filter: opacity(0.7);
    padding: 3em 3em 10em 3em;
}


.article__icon {
    color: var(--color-textred);
}
.article__icon__credentials {
    width: 2.5em;
    height: 2.5em;
    background-color: var(--color-textred);
    border-radius: 50%;
    text-align: center;
    position: absolute;
}
.section__article--border {
    border-left: solid 1px rgba(128, 128, 128, 0.205);
    padding-left: 2em;
    position: relative;
    translate: 1.2em;
}
.article__icon--experience {
    color: white;
    padding: 30% 25%;
}
.portfolio__image__img {
    width: 100%;
    
}
.section__stats {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 3em;
    background-color: var(--color-bgsecondary);
}
.stats__counts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counts__numbers {
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 0.5em;
}
.stats__counts>:first-child {
    color: white;
    padding-bottom: 1em;
}
.separator__hr {
    width: 5em;
    border: solid 1px var(--color-text);
}
.section__contact {
    background-image: url(/images/profile-bg.jpg);
    background-size: cover;
    background-position-x: center;
}
.section__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-text);
    margin-bottom: 1em;
}
.article__contact--raw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bgprimary);
    align-items: center;
    justify-content: center;
}
.footer__social {
    display: flex;
    margin-top: 5%;
}
.social__icon {
    color: var(--color-text);
    margin-left: 0.5em;
}
.footer>p {
    color: var(--color-text);
    margin: 1em auto;

}
